each team in teams
    each driver in team.drivers
        .row
            .col-xs-8.col-xs-offset-2
                .row.table-color
                    .col-xs-3.col-xs-offset-1
                        img.img-thumbnail(src=driver.pic)
                    .col-xs-3.col-xs-offset-1
                        h2.text-center= driver.name
                    .col-xs-3
                        h3.text-center= driver.country
