each team in teams
    each driver in team.drivers
        .row
            .col-md-8.col-md-offset-2
                .row.table-color
                    .col-md-3.col-md-offset-1.col-sm-4
                        img.img-thumbnail(src=driver.pic)
                    .col-md-3.col-md-offset-1.col-sm-4
                        h2.text-center= driver.name
                    .col-md-3.col-sm-4
                        h3.text-center= driver.country
