extends ./base.jade

block info
    include small-bar-td.jade

    .row
        .col-xs-2.col-xs-offset-2
            h2.text-center Driver
        .col-xs-2.col-xs-offset-1
            h2.text-center Name
        .col-xs-2
            h2.text-center Country
    #driversCont

    script(src="/lib/jquery/dist/jquery.js")
    script(src='/lib/q/q.js')
    script(src="/lib/jade/jade.js")
    script(src='/js/init.js')
    script(src='/js/app_drivers.js')
