.row
    .navbar.navbar-default.my-menu
        .container
            .row
                a.thumbnail(href="http://www.formula1.com/").navbar-brand.col-xs-1
                    img(src="img/f1-logo.jpg", width="50%")
                ul.nav.navbar-nav.navbar-left.col-xs-11.col-xs-offset-1
                    li: a(href="/") Home
                    li: a(href="/teams") Teams and Drivers
                    li: a(href="/p1") Results
                    li: a(href='/acheto') Acheto
