extends ./base.jade

block info
    include ./small-bar-results.jade

    .row
        .col-xs-8.col-xs-offset-2
            .row.table-head
                .col-xs-1.col-xs-offset-1
                    h3.text-center.yellow Pos

                .col-xs-3
                    h3.text-center.yellow Name

                .col-xs-2
                    h3.text-center.yellow Team

                .col-xs-2
                    h3.text-center.yellow Time

                .col-xs-2
                    h3.text-center.yellow Laps

    #p2Cont

    script(src="/lib/jquery/dist/jquery.js")
    script(src='/lib/q/q.js')
    script(src="/lib/jade/jade.js")
    script(src='/js/init.js')
    script(src='/js/app_p2.js')
