extends ./base.jade

block info
    include ./small-bar-results.jade

    .row
        .col-md-8.col-md-offset-2
            .row.table-head
                .col-md-1.col-md-offset-1.col-sm-1
                    h3.text-center.yellow Pos

                .col-md-3.col-sm-3
                    h3.text-center.yellow Name

                .col-md-2.col-sm-3
                    h3.text-center.yellow Team

                .col-md-2.col-sm-3
                    h3.text-center.yellow Time

                .col-md-2.col-sm-2
                    h3.text-center.yellow Laps

    #p3Cont

    script(src="/lib/jquery/dist/jquery.js")
    script(src='/lib/q/q.js')
    script(src="/lib/jade/jade.js")
    script(src='/js/init.js')
    script(src='/js/app_p3.js')
