.container
    h1 Grand Prix de Espana
    .navbar.navbar-default.my-menu
        .container
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-left
                    li: a(href="/") Info for track
                    li: a(href="/info-spain") Info for Spain
