.container
    h1 Grand Prix de Espana
    .navbar.navbar-default.my-menu
        .container
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-left
                    li: a(href="/p1") Practice 1
                    li: a(href="/p2") Practice 2
                    li: a(href="/p3") Practice 3
                    li: a(href="/qualifications") Qualifications
                    li: a(href="/race") Race
