extends ./base.jade

block info
    include small-bar-td.jade

    script(src="/lib/jquery/dist/jquery.js")
    script(src='/lib/q/q.js')
    script(src='/views/teams_for_render.js')
    script(src='/js/app_teams.js')
    script(src='/js/init_teams.js')
