extends ./base.jade

block info
    include small-bar-td.jade

    .row
        .col-md-8.col-md-offset-2
            .row.table-head
                .col-md-2.col-md-offset-1.col-sm-4
                    h2.text-center.yellow Teams
                .col-md-3.col-md-offset-1.col-sm-2
                    h2.text-center.yellow Engine
                .col-md-4.col-sm-6
                    h2.text-center.yellow Drivers
    #teamsCont

    script(src="/lib/jquery/dist/jquery.js")
    script(src='/lib/q/q.js')
    script(src="/lib/jade/jade.js")
    script(src='/js/init.js')
    script(src='/js/app_teams.js')
